.profile {
  width: 84vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 0;
}
.profile div {
  border: 1px solid red;
}
.pro-center {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.pro-up {
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 1vw;
}
.up-left {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.up-left img {
  width: 70%;
  border-radius: 100%;
}
.up-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.up-right div {
  width: 70%;
  height: 30%;
}
.pro-posts {
  width: 95%;
  height: fit-content;
}
.pro-posts button {
  padding: 10px 20px;
  background-color: black;
  color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.first {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.first button {
  padding: 7px 16px;
  cursor: pointer;
  border-radius: 10px;
}
.first svg {
  cursor: pointer;
}
.second {
  color: white;
  font-size: 14px;
  font-weight: 600;
  gap: 3vw;
}
.third {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.post {
  width: 100%;
  height: fit-content;
}
.add {
  width: 84vw;
  height: 100vh;
  position: absolute;
  /* top: 6vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.add-post {
  width: 30vw;
  height: 30vh;
  background-color: white;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}
.Name {
  width: 45%;
  height: 3vh;
  border-radius: 10px;
}
.Description {
  width: 50%;
  height: 5vh;
  border-radius: 10px;
}
.Image {
  width: 50%;
  height: fit-content;
}
.add-post button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  color:red ;
  background-color: black;
  cursor: pointer;
}
.Settings {
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.settings-center {
  width: 440px;
  height: 570px;
  border-radius: 10px;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.settings-center button {
  width: 100%;
  height: 9%;
  background-color: rgb(34, 34, 34);
  color: white;
  font-weight: 600;
  cursor: pointer;
}