.Login {
  width: 100%;
  height: 100vh;
  gap: 3%;
  background-color: white;
}
.login-center {
  width: 100%;
  height: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.login-img {
  width: 18%;
  height: 63%;
}
.login-img img {
  width: 100%;
}
.login-up {
  width: 16%;
  height: 63%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
}
.login {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 0.5px solid grey;
}
.login-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.login img {
  width: 50%;
  margin-top: 5%;
}
.login input {
  padding: 9px 0 7px 8px;
  width: 75%;
  border: 1px solid rgb(179, 179, 179);
}
.login button {
  width: 13vw;
  padding: 10px 0px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  background-color: #47afff;
}
.login-hr {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: grey;
  font-weight: 500;
}
.login-hr div {
  border-top: 1px solid rgb(189, 189, 189);
  width: 35%;
}
.login-social {
  width: 75%;
  height: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  color: #385185;
  cursor: pointer;
  font-weight: 500;
}
.login-social img {
  width: 16px;
  height: 16px;
}
.login-pass {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}
.logup {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 2%;
  border: 1px solid rgb(162, 160, 160);
}
.get-app {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.get-app2 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.get-app2 img {
  width: 130px;
  height: 40px;
  cursor: pointer;
}
